# Use with `import /path/to/deathwatch-viewer/Caddyfile`

deaths.canine.systems {
        route /deathwatch/* {
                uri strip_prefix /deathwatch
                file_server {
                        root /usr/share/deathwatch/
                }
        }
        root * /usr/share/deathwatch-viewer/src/
        file_server * {
                root /usr/share/deathwatch-viewer/src/
        }
        try_files {path} /index.html
        header * Cache-Control "public, max-age=0, must-revalidate"
}
